#root {
  font-family: Roboto;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1rem;
  padding: 1rem;
}

@keyframes begone {
  0% {
    translate: 0 0;
  }

  25% {
    opacity: 65%;
  }

  50% {
    opacity: 50%;
  }

  75% {
    opacity: 15%;
  }

  100% {
    translate: 0 -100%;
    opacity: 1%;
  }
}

.animation {
  animation-duration: 3s;
  animation-name: begone;
}

body {
  margin: 0;
}

main {
  background-color: #d0c4df;
  margin: 2rem 4rem;
  border-radius: 3%;
  height: 40vh;
  display: flex;
  flex-direction: column;
}

.inputAndButton {
  display: flex;
  gap: 1rem;
}

input {
  border: none;
  height: 2rem;
  width: 10rem;
  border-radius: 2%;
  box-shadow: 3px 3px 1px black;
}

li {
  list-style-type: none;
}

footer {
  padding: 1rem;
}
