body {
  background-color: #fcfcfc;
  margin: 0;
  height: 100vh;
}

#root {
  font-family: Roboto;
  max-width: max-content;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr 9fr 1fr;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1rem;
  padding: 1rem;
}

@keyframes begone {
  0% {
    translate: 0 0;
  }

  25% {
    opacity: 65%;
  }

  50% {
    opacity: 50%;
  }

  75% {
    opacity: 15%;
  }

  100% {
    translate: 0 -100%;
    opacity: 1%;
  }
}

.animation {
  animation-duration: 3s;
  animation-name: begone;
}

main {
  background-color: #d0c4df;
  margin: 2rem 4rem;
  border-radius: 3%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

.inputAndButton {
  display: flex;
  gap: 1rem;
}

input {
  border: none;
  height: 2rem;
  width: 10rem;
  border-radius: 2%;
  box-shadow: 3px 3px 1px black;
}

.submitButton {
  border: none;
  border-radius: 5%;
  background-color: #d29fdf;
  color: #fcfcfc;

  &:hover {
    background-color: #dcabdf;
  }

  &:active {
    background-color: #7b2e9e;
  }
}

li {
  list-style-type: none;
}

.deterrent {
  position: absolute;
}

footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
