.inputDiv {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1rem;
  border: #3e517a 2px dotted;
  padding: 1rem;
}

@keyframes begone {
  0% {
    translate: 0 0;
  }

  25% {
    opacity: 65%;
  }

  50% {
    opacity: 50%;
  }

  75% {
    opacity: 15%;
  }

  100% {
    translate: 0 -100%;
    opacity: 1%;
  }
}

.animation {
  animation-duration: 3s;
  animation-name: begone;
}

#root {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  font-family: sans-serif;
}

body {
  margin: 0;
}

main {
  padding: 5rem;
}

header {
  background-color: #3e517a;
  color: #f1f4f8;
  padding: 1rem;
}

.inputAndButton {
  display: flex;
  gap: 1rem;
  padding-left: 5rem;
}

footer {
  padding: 1rem;
}
